/* Container styles */
.direct-message-container {
  display: flex;
  height: 100%;
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
}

.chats-column {
  position: relative;
  width: 30%;
  background-color: white;
  border-radius: 15px;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-top: 25px;
  box-sizing: border-box;
  /* overflow: hidden; */
}

/* Chat list styles */
.chats-list {
  flex: 1;
  overflow-y: auto;
}

.chats-list h2 {
  font-size: 18px;
  margin-bottom: 16px;
  color: #555;
}

.chats-list-card:hover {
  background-color: #eaeaea;
}

.create-chat-icon {
  position: sticky;
  bottom: 20px;
  margin-right: 6px;
  align-self: auto;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.users-list-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}


/* Chat panel styles */
.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}

.chat-container h2 {
  margin-bottom: 16px;
  font-size: 20px;
  color: #555;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  /* border: 1px solid #ddd; */
  border-radius: 6px;
  padding: 10px 0;
  margin-bottom: 16px;
  background-color: #fefefe;
  max-height: 400px;
}

.message-input {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: auto;
}

.custom-input {
  border: none;
  background-color: #FFF0F0;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.custom-input:focus {
  outline: none;
  box-shadow: 0 0 8px -2px rgba(172, 172, 172, 0.481);
}


.custom-button {
  background-color: #FF6B6B;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #e55a5a;
}

.direct-message-error {
  color: red;
  font-weight: bold;
  margin-top: 15px;
}
