.userlist_header_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 35px 35px 10px 35px;
  gap: 20px;
}

.user-search-wrapper {
  position: relative;
  display: flex;
  flex: 1;
  margin: 0 auto;
  width: 98%;
  align-items: center;
  justify-content: center;
}

.user-search-icon {
  position: absolute;
  left: 15px;
  display: flex;
  align-items: center;
  pointer-events: none;
}

#user_search_bar {
  padding-left: 45px;
  border-radius: 25px;
  background-color: #FFFFFF;
  width: 100%;
  border: none;
  font-size: 16px;
  color: #9CA3AF;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  box-sizing: border-box;
}

#user_search_bar:focus {
  outline: none;
  box-shadow: 0 0 8px -2px rgba(172, 172, 172, 0.481);
}

.bold_title {
  font-weight: 500;
  white-space: nowrap;
  font-size: 40px;
  color: #2c3849;
}

.user_count_label {
  font-size: 16px;
  align-self: flex-end;
}

#user_count {
  color: #FF6B6B;
}


.user_count_text {
  color: #727F91;
}