.sideBarNav {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 4% 0;
  align-items: center;
  background: #FFFFFF;
}

.menu_button:first-child {
  margin-top: 0;
}

.menu_button {
  width: 75%;
  margin-top: 20px;
  padding: 12px 0;
  border-radius: 15px;
  text-align: center;
  line-height: normal;
  color: #484848;
  font-weight: 400;
  text-decoration: none;
  transition: background-color 0.4s, color 0.4s; 
  display: flex;
  justify-content: flex-start;
  padding-left: 15px;
}

.menu_button:hover {
  background: #f3f3f3;
  color: #484848;
  font-weight: 500;
  font-size: 18px;
}

.menu_selected {
  background: #FFF0F0;
  color: #FF6B6B;
  font-weight: 500;
  font-size: 18px;
}

/* Additional options inside Messages */
.additional-options {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
}

.message-options {
  /* width: max-content; */
  width: 110%;
  margin-top: 10px;
}

/* .message-option-selected {
  background: #ffd9d9;
  color: #FF6B6B;
} */
