.message {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #F2F3F3;
  width: 95%;
}

.message-mine {
  background-color: #dcdfe3;
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  font-size: 14px;
  color: #666;
}

.message-sender {
  font-weight: bold;
  color: #37404D;
}

.message-time {
  font-size: 0.8rem;
  color: #999;
}

.message-body {
  font-size: 1rem;
  color: #37404D;
  line-height: 1.5;
  word-wrap: break-word;
}
